[submodule ".config/nvim/pack/nvim/start/nvim-lspconfig"]
	path = .config/nvim/pack/nvim/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
